.comment {
    display: flex;
    flex-direction: row;
    background-color: white;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    margin-top: 15px;
}

.vote {
    flex-basis: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vote button {
    padding: 0px 5px 0px 5px;
    color: #6c6e70;
    background-color: transparent;
    border: none;
}

.vote button.active {
    background-color: #269fff;
    color:white;
}

.vote button:hover {
    background-color: #269fff;
}

.vote button.active:hover {
    background-color: transparent;
    color:#6c6e70;
}

.vote .ocButton {
    flex-grow: 1;
    background-color: #6c6e70;
    opacity: 0.75;
    width: 3px;
    padding: 0 0 0 0;
}

.vote .ocButton:hover {
    background-color: #269fff;
}

.vote .ocButton:active {
    border: none;
}

.body {
    flex-grow: 1;
}

.source .voteCount::after {
    content: " . ";
}

.source>* {
    margin-right: 5px;
}

.toolbar button {
    color: #6c6e70;
    background-color: white;
    border: none;
    font-size: 0.7rem;
    padding: 2px;
    font-weight: 650;
    opacity: 0.75;
}