.bd-navbar .navbar-brand {
    font-size: 200%;
}

.bd-navbar {
    min-height: 4rem;
    background-color: #215097;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1)
}


@media (max-width:991.98px) {
    .bd-navbar {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .bd-navbar .navbar-nav-scroll {
        max-width: 100%;
        height: 2.5rem;
        margin-top: .25rem;
        overflow: hidden;
        font-size: .875rem
    }

    .bd-navbar .navbar-nav-scroll .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch
    }
}

@media (min-width:768px) {
    @supports ((position:-webkit-sticky) or (position:sticky)) {
        .bd-navbar {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 1071
        }
    }
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.bd-navbar .navbar-nav .nav-link.active,
.bd-navbar .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: transparent
}

.bd-navbar .navbar-nav .nav-link.active {
    font-weight: 500
}

.bd-post-rate i {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 120%;
    color: #898989;
}

.bd-post-rate a {
    cursor: pointer;
}

.bd-post-source {
    color: #787C7E;
    font-size: 0.8rem;
}

.bd-post-source a:hover {
    cursor: pointer;
    border-bottom: 1px solid;
}

.bd-post-source .bd-subbluedit {
    font-weight: bolder;
    color: black;
}

.bd-post-source .bd-user::before {
    content: "Posted by  ";
}

.bd-toolbar {
    font-size: 0.8rem;
}

.bd-toolbar a {
    padding: 5px;
    cursor: pointer;
}

.bd-toolbar a:hover {
    background-color: lightgray;
}